{% extends 'base.html.twig' %}
{% block title %}
    Hello World
{% endblock %}
{% block body %} {# On vient surcharger le block body déclarer dans base.html.body #}
    {# <h1>Hello world</h1> #}
    <div class="py-3">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="email-connected">Connected as {{ app.user.email }}</p>
        {% endif %}
    </div>
       <div class="col-md-6 left-column nb-1">
            <ul class="list-group list-tasks">
                {% for task in listingTasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href={{ path('listing_show', { taskId: task.id }) }}>
                        {{ task.name }}
                    </a>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <form method="post" action="{{ path('listing_create') }}">
                        <div class="input-group">  {# affichage sur une ligne #}
                            <input type="text" placeholder="Ajouter une liste" class="form-control input-block-level" name="name" />
                            <div class="input-group-append">  {# juste derriere le input #}
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-md-5 list subtask">
            {% if(currentTask) %}
                <nav class="navbar navbar-expand-lg justify-content-between mt-2 p-2">
                    <a class="navbar-brand" href="#">{{ currentTask.name }}</a>
                    <div>
                        <a class="btn btn-success" href={{ path("task_create", { taskId: currentTask.id }) }}><i class="fa fa-plus"></i></a>
                        <a class="btn btn-danger" href={{ path("listing_delete", { taskId: currentTask.id }) }}><i class="fa fa-trash"></i></a>
                    </div>
                </nav>
                            <div class="row mt-3">
                {% if currentTask.tasks | length %}
                    <table class="table table-borderless">
                        {% for task in currentTask.tasks %}
                            <tr>
                                <td>
                                    <a href="#">{{ task.name }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('task_edit', {'taskId': currentTask.id, 'subTaskId': task.id}) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="{{ path('task_delete', {'taskId': currentTask.id, 'subTaskId': task.id}) }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h5 class="pt-3">Pas de tâche existante</h5>
                    <p class="pt-3">Vous pouvez créer une nouvelle tâche en cliquant sur le bouton <i class="fa fa-plus"></i></p>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="row mt-5">
            <div class="row">
                <div class="col-md-12 text-center my-3">
                        <h3>Weather forecast for {{ app.user.locality }}</h3>
                </div>
                {% for data in forecastData.forecast |  slice(0, 5) %}
                    <div class="card mx-2 my-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ data.datetime | date("d/m/y") }}</h5>
                            {% if data.rr10 > 0 %}
                                <img class="img-fluid" src="{{ asset('build/images/rain.png') }}" />
                            {% else %}
                                <img class="img-fluid" src="{{ asset('build/images/sun.png') }}" />
                            {% endif %}
                            <ul>
                                <li>Min temp : {{ data.tmin }}°</li>
                                <li>Max temp : {{ data.tmax }}°</li>
                                <li>Sun hours : {{ data.sun_hours }} hours</li>
                                <li>Rain probability : {{ data.probarain }}%</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
                </div>


{% endblock %}